body{
	background-color:#C0C0C0;
}
img{
margin-top: 50px; 
width: 150px;
height: 150px;
border: 5px solid black;
}


.dabo{
	background-color: white;
	text-align: center;
	border: 5px solid black;
}
#sylla {
	font-size: 60px;
	position: absolute;top: 50px;left:35%;
}
span{ 
	font-size:25px;
	position: absolute; top:50px;left: 78%; 
	border: 5px solid black;
	margin-top:right;
}
h2{
text-align:center;
}
.dab{
	background-color: green;
}
.mimi{
	background-color: yellow;
}
strong{
	font-family:arial,helvetica; sans-serif;
	font-size: 30px;
}
dl dd{
	font-size:25px;
	font-style: oblique;

}
	
ul {
	font-size: 20px;
	font-weight: bold;

	}
